src/main/resources/META-INF/imt.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://repo.alibaba-inc.com/schema/imt"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://repo.alibaba-inc.com/schema/imt"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<xsd:annotation>
		<xsd:documentation>
			<![CDATA[Defines the configuration elements for the IMT support.]]>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="imt">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[A section (compartmentalization) of imt-specific configuration (including annotation-scan-paths, interface-class.).]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="privilege" type="privilegeType" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[Set a privilege check class object for imt.]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="annotation-scan-paths" type="pathType" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[Annotation scan paths.]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="interface-class" type="interfaceType" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[Interface class definition.]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required"/>
			<xsd:attribute name="remoteManage" type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[If use remote management.]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>


	<xsd:complexType name="privilegeType">
		<xsd:attribute name="ref" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="pathType">
		<xsd:sequence minOccurs="1" maxOccurs="unbounded">
			<xsd:element name="path" type="xsd:string" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="interfaceType">
		<xsd:sequence minOccurs="1" maxOccurs="unbounded">
			<xsd:element name="interface">
				<xsd:complexType>
					<xsd:sequence minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="data" type="xsd:string"/>
					</xsd:sequence>
					<xsd:attribute name="description" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="className" type="xsd:string" use="required"/>
	</xsd:complexType>

</xsd:schema>
